.container {
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;

  // Small screens and up
  max-width: 100%;

  // Medium screens and up
  @media (min-width: map-get($breakpoints, md)) {
    max-width: 720px;
  }

  // Large screens and up
  @media (min-width: map-get($breakpoints, lg)) {
    max-width: 960px;
  }

  // Extra large screens and up
  @media (min-width: map-get($breakpoints, xl)) {
    max-width: calc(var(--container-max-width) + (var(--container-padding) * 2));
  }

  // // Increase padding for larger screens
  // @media (min-width: map-get($breakpoints, md)) {
  //   --container-padding: var(--space-lg);
  // }

  // @media (min-width: map-get($breakpoints, lg)) {
  //   --container-padding: var(--space-xl);
  // }
}
