.button {
  height: var(--space-xl);
  padding: var(--space-sm) var(--space-md);
  font-size: var(--font-sm);
  background-color: var(--color-accent);
  color: var(--lightest);
  border: none;
  border-radius: var(--space-xs);
  cursor: pointer;

  &:hover {
    background-color: var(--color-accent);
    opacity: 0.9; // This will make the button slightly darker
  }
}

.button-two {
  display: inline-block;
  padding: var(--space-sm) var(--space-md);
  font-size: var(--font-sm);
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-accent);
  color: var(--lightest);
  border: none;
  border-radius: var(--space-xs);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover,
  &:focus {
    background-color: var(--color-accent);
    opacity: 0.9;
  }

  &--secondary {
    background-color: var(--light);
    color: var(--darkest);

    &:hover,
    &:focus {
      background-color: var(--light);
      opacity: 0.9;
    }
  }
}
