.card {
  padding: var(--space-md);
  margin: var(--space-md) 0;
  border-radius: var(--space-xs);
  background-color: var(--lightest);
  box-shadow: 0 2px 4px var(--darken);
}

.card-two {
  background-color: var(--lightest);
  border-radius: var(--space-xs);
  box-shadow: 0 2px 4px var(--darken);
  padding: var(--space-md);
  margin-bottom: var(--space-md);

  &__title {
    font-size: var(--font-lg);
    margin-bottom: var(--space-sm);
  }

  &__content {
    font-size: var(--font-base);
  }
}
